<!-- Footer. -->
<data class="u-url" href="/"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">www.socwaretools.com</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list"><li><a href="https://github.com/rjs3c" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">rjs3c</span></a></li></ul>
    </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p><a href="/disclaimer.html" target="_blank">Disclaimer</a>
      </div>
    </div>
</div>